@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
* {
    margin: 0;
    padding: 0;   
    font-family: 'Nanum Gothic', sans-serif;
  }


.main-page{
    background-image: url("Images/background.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.orar-section, .table-title{
    -moz-border-radius-topleft: 17px;
    -webkit-border-top-left-radius: 17px;
    border-top-left-radius: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 217px;
    border-top-right-radius: 17px;
}
.orar-section{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 85px;
    background-color: white;
    -webkit-box-shadow: 24px 23px 26px -7px rgba(202,195,187,0.68);
-moz-box-shadow: 24px 23px 26px -7px rgba(202,195,187,0.68);
box-shadow: 24px 23px 26px -7px rgba(202,195,187,0.68);

}
.table-title{
    background-image: url("Images/title.png");
    background-repeat: no-repeat;
    background-color: #fb634b;
    color:#ffffff;
    
    
}
.table-title, .content-table{
    display: flex;
    text-align: center;
    align-items: center;
}
.day-of-the-week{
    margin-right: auto;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F8F9F9;
}
.table-title > *{
    padding-top: 20px;
    padding-bottom: 20px;
}

.day-of-the-week , .content-table, .link {
    color: #3e3b3b;    
}
.content-table{
    display: flex;
}
.content-table > * {
    padding-top: 15px;
    padding-bottom: 15px;
}
.content-table > .from-column, .until-column, .classroom-column, .frequency-column, .package-column, .table-title > .from-column, .until-column, .classroom-column, .frequency-column, .package-column {    
    width: 80px;
}

.content-table > .professor-column ,.day-of-the-wee, .table-title > .professor-column ,.day-of-the-wee{
    
    width: 190px;
}
.content-table > .object-column, .table-title > .object-column {
    width: 230px;
}
.content-table > .type-column, .table-title > .type-column{
    width: 120px;
}

.link{
    text-decoration: none;
    color: #3e3b3b;
}
.content-table > *:not(:empty):hover, .content-table > *:not(:empty):hover > *{
    background-color: #D5D8DC;
    color:#ffffff;
}